<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/fitodac/line-awesome/master/dist/css/line-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/fitodac/bsnav/master/dist/bsnav.min.css">
  <link rel="stylesheet" type="text/css" href="examples.min.css">

<!-- 
  <META HTTP-EQUIV="REFRESH" CONTENT="1;URL=gridproductos.html">  -->
  <title>Flash Sale</title>

  <script>
    $(document).ready(function () {
      for (var i = 1; i < 4; i++) {
        $(`
          <li class="nav-item"><a class="nav-link" href="#">Subcategoria ${i}</a></li>


          `).appendTo("#subcategories");
      }
    });
  </script>

  <script>
    $(document).ready(function () {
      for (var i = 0; i < 10; i++) {
        $(` 
          <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria ${i} <i class="caret"></i></a>
          <div class="navbar-nav">
          <div class="container">
          <h4 class="mb-4">Categoria</h4>
          <div class="row mb-3">
          <div class="col-sm-3">
          <ul id="subcategories" class="navbar-nav">                      


          </ul>

          </div>
          </div>
          </div>
          </li>

          `).appendTo("#categories");
      }
    });
  </script>


</head>
<body>



  <div class="container-fluid-expand-sm" >

    <nav class="navbar navbar-light" style="background-color:#F08080">

      <a class="navbar-brand" href="#">
        <img class="img-responsive" src="img/l4.png" width="150" height="150" style="margin-left:50px; " class="d-inline-block align-top" alt="" action="index.html">

      </a>


      <input class="form-control mr-sm-2" type="search" placeholder="Busca tus productos aqui" aria-label="Search" style="width:850px; height: 50px ">
      <button class="btn my-2 my-sm-0" type="submit" style="margin-left:-140px;">
        <img class="img-responsive" src="img/buscar.png" width="25" height="25" class="d-inline-block align-top" alt="" action="buscar.html"></button>


        <div>
          <button class="btn my-2 my-sm-0" type="submit" style="margin-left:50px;" onClick="window.open('other.html')">
            <img class="img-responsive" src="img/carrito.png" width="30" height="25" class="d-inline-block align-top" alt="" ></button>

            <button class="btn my-2 my-sm-0" type="submit" >
              <img class="img-responsive" src="img/lista2.png" width="30" height="25" class="d-inline-block align-top" alt=""action="pedido.html"></button>

              <button class="btn my-2 my-sm-0" type="submit" style="margin-right:50px;">
                <img class="img-responsive" src="img/perfil.png" width="25" height="25" class="d-inline-block align-top" alt="" action="perfil.html"></button>
              </div> 

<!--  <div id="categories" class="btn-group" role="group" style="margin-left:260px;"> 
</div>
-->

</nav>

</div>
</div>
</body>



<body>

  <div class="navbar navbar-expand-sm bsnav"><a class="navbar-brand" >Categorias de nuestros productos</a>
    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-sm-end">
      <ul class="navbar-nav navbar-mobile mr-0">

        <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
          <div class="navbar-nav">
            <div class="container">
              <h4 class="mb-4">Categoria</h4>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <ul class="navbar-nav">                      
                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                  </ul>

                </div>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
            <div class="navbar-nav">
              <div class="container">
                <h4 class="mb-4">Categoria</h4>
                <div class="row mb-3">
                  <div class="col-sm-3">
                    <ul class="navbar-nav">                      
                      <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                    </ul>

                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
              <div class="navbar-nav">
                <div class="container">
                  <h4 class="mb-4">Categoria</h4>
                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <ul class="navbar-nav">                      
                        <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                      </ul>

                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
                <div class="navbar-nav">
                  <div class="container">
                    <h4 class="mb-4">Categoria</h4>
                    <div class="row mb-3">
                      <div class="col-sm-3">
                        <ul class="navbar-nav">                      
                          <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                        </ul>

                      </div>
                    </div>
                  </div>
                </li>

                <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
                  <div class="navbar-nav">
                    <div class="container">
                      <h4 class="mb-4">Categoria</h4>
                      <div class="row mb-3">
                        <div class="col-sm-3">
                          <ul class="navbar-nav">                      
                            <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                          </ul>

                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
                    <div class="navbar-nav">
                      <div class="container">
                        <h4 class="mb-4">Categoria</h4>
                        <div class="row mb-3">
                          <div class="col-sm-3">
                            <ul class="navbar-nav">                      
                              <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                              <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                              <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                              <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                            </ul>

                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
                      <div class="navbar-nav">
                        <div class="container">
                          <h4 class="mb-4">Categoria</h4>
                          <div class="row mb-3">
                            <div class="col-sm-3">
                              <ul class="navbar-nav">                      
                                <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                              </ul>

                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
                        <div class="navbar-nav">
                          <div class="container">
                            <h4 class="mb-4">Categoria</h4>
                            <div class="row mb-3">
                              <div class="col-sm-3">
                                <ul class="navbar-nav">                      
                                  <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                  <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                                </ul>

                              </div>
                            </div>
                          </div>
                        </li>

                        <li class="nav-item dropdown megamenu"><a class="nav-link" href="#">Categoria<i class="caret"></i></a>
                          <div class="navbar-nav">
                            <div class="container">
                              <h4 class="mb-4">Categoria</h4>
                              <div class="row mb-3">
                                <div class="col-sm-3">
                                  <ul class="navbar-nav">                      
                                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Subcategoria</a></li>

                                  </ul>

                                </div>
                              </div>
                            </div>
                          </li>


                        </ul>
                      </div>
                    </div>
                    <button style="height: 450px; width:  1525px;" onClick="window.open('gridproductos.html')">
                      <div class="jumbotron jumbotron-fluid " >
                        <div class="container ">
                          <h1>Disfruta ahora, paga despues</h1>
                        </div></button>

                      </div>
                      <footer class="main-footer">
                        <div class="container" style="margin-top:8px; text-align: center; ">
                        © 2019 GitHub, Inc. Terms Privacy Security Status </div>
                      </footer>

                      <style >
                      .jumbotron{
                        background: url('img/fondo.jpg') center top / cover;
                        color: #fff;
                        height: 450px;
                        width:  1525px;
                        display: flex;
                        align-items: center;
                      }
                    </style>


                    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
                    <script src="https://rawgit.com/fitodac/bsnav/master/dist/bsnav.min.js"></script>
                  </body>
                </div>


                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="js/bootstrap.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
                <script src="https://rawgit.com/fitodac/bsnav/master/dist/bsnav.min.js"></script>
                   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
              </body>
              </html>

