

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@media screen and (max-width: 960px){
  .btn-desc {
    display: none;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,210px);
  grid-template-rows: repeat(auto-fit,400px);
  grid-gap: 10px;
}

#search-bar {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%
}

.cart-menu {
  min-width: 300px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-item .nav-link {
  color: var(--secondary);
  border-bottom: 4px solid var(--secondary);;
}

.nav-item .nav-link.active {
  border-color: var(--primary);
  color: var(--primary);
}

#shopping-list {
  text-align: start;
  margin-bottom: 0;
  margin-top: 0;
  width: 270px;
  height: 100%;
}

.card.product-card {
  min-width:200px;
  width:210px;
  max-width: 210px;
}

.product-card>.card-img {
  height: 208px;
  width: 208px;
  padding: 20px;
}

#map {
  width: 500px;
  height: 400px;
}

#body {
  min-height: 540px
}

#content {
  min-height: 700px;
  margin: 3% 10% 2%;
  padding: 10px 20px 0;
  background-color: var(--light);
}

.proforma-table {
  font-size: small;
}